PROXY_N8N_TARGET=https://dev.n8n.creativebits.tech
PROXY_MERCURE_TARGET=https://dev.mercure.creativebits.tech

VITE_AUTH_SERVER_URL=http://localhost:3000
VITE_AUTH_REDIRECT_URI=http://localhost:5173

VITE_N8N_URL=/api
VITE_MERCURE_URL=/events
